.header-content {
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 3%;
    font-size: 1.5em;
}
  
.f {
    color: blue;
}
  
.u {
    color: red;
}
  
.n {
    color: yellow;
}
  
.d {
    color: blue;
}
  
.o {
    color: green;
}
  
.o2 {
    color: red;
}