<div class="forgot-container">
    <div class="forgot-content">
        <div class="forgot-logo">
            <app-fundoo-logo></app-fundoo-logo>
        </div>
        <div class="forgot">
            <span>Forgot Password</span>
        </div>
        <div class="use-para">
            <span>Enter Required Details</span>
        </div>
        <form class="forgot-form" [formGroup]="form" (ngSubmit)="submit()">
            <div class="forgot-email">
                <mat-form-field appearance="outline" class="element">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter Email" formControlName="email">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>
            <div class="forgot-last-element">
                <div class="login-buttons">
                    <button type="submit" class="forgot-button" mat-flat-button color="Next">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>