.login-container {
  position: absolute;
  left: 38%;
  top: 23%;
  display: flex;
  flex-direction: column;
  border: 1px solid #d8dadd;
  border-radius: 2%;
  width: 24%;
  height: 54%;
}


.login-logo , .signin, .use-para{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%
}

.login-logo {
  padding-top: 10%;
}

.signin {
  font-size:x-large;
}

.use-para {
  font-size: medium;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 10% 0 10%;
}

.element {
  width: 100%;
}

.login-email, .login-password {
  width: 100%;
  padding-bottom: 5%;
}

.login-last-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  height: 15%;
}

@media screen and (max-width: 600px) {
  .login-last-element {
    flex-direction: column;
    align-items: center;
  }

  .login-container {
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
  }

  .last-text {
    text-align: center;
  }
}

.create-account :any-link{
    text-decoration: none;
    color:rgb(39, 124, 221); 
    font-size: medium;
    font-weight: 500;
}

.login-button {
    background-color:rgb(39, 124, 221);
    text-decoration: none;
    color: white;
    border: none;
    height: 30px;
}