<div class="login-container">
    <div class="login-content">
        <div class="login-logo">
            <app-fundoo-logo></app-fundoo-logo>
        </div>
        <div class="signin">
            <span>Sign in</span>
        </div>
        <div class="use-para">
            <span>Use your Fundoo Account</span>
        </div>
        <form class="login-form">
            <div class="login-email">
                <mat-form-field appearance="outline" class="element">
                    <mat-label>Email or Username</mat-label>
                    <input matInput placeholder="Email or Username">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>
            <div class="login-password">
                <mat-form-field appearance="outline" class="element">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>
        </form>
        <div class="login-last-element">
            <div class="create-account">
                <a href="">
                    <span class="last-text">Create account</span>
                </a>
            </div>
            <div class="login-buttons">
                <button class="login-button" mat-flat-button color="primary">Primary</button>
            </div>
        </div>
    </div>