<div class="form-container">
    <form class="form-content">
        <div>
            <div class="header-content">
                <span class="f">F</span>
                <span class="u">U</span>
                <span class="n">N</span>
                <span class="d">D</span>
                <span class="o">O</span>
                <span class="o2">O</span>
            </div>
            <div class="head">
                <h2>Create Your Fundoo Account</h2>
            </div>

            <div class="name">
                <mat-form-field appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput placeholder="First name">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>

            <div class="name">
                <mat-form-field appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput placeholder="Last name">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>

            <div class="email">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email">
                    <mat-icon matSuffix>gmail.com</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>

            <div class="password">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>

            <div class="password">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm</mat-label>
                    <input matInput placeholder="Confirm">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>

        </div>
    </form>
</div>