<div class="form-container">
    <form class="form-content" [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-logo">
            <app-fundoo-logo></app-fundoo-logo>
        </div>

        <div class="form-head">
            <h2>Create Your Fundoo Account</h2>
        </div>

        <div class="form-names">
            <div class="name">
                <mat-form-field appearance="outline" class="element">
                    <mat-label>First name</mat-label>
                    <input matInput placeholder="First name" formControlName="firstname">
                    <mat-icon matSuffix></mat-icon>
                    <mat-error *ngIf="form.controls.firstname.errors.required">First Name is a required field
                    </mat-error>
                    <mat-error *ngIf="form.controls.firstname.errors.pattern">Invalid format</mat-error>
                </mat-form-field>
            </div>

            <div class="name">
                <mat-form-field appearance="outline" class="element">
                    <mat-label>Last name</mat-label>
                    <input matInput placeholder="Last name" formControlName="lastname">
                    <mat-icon matSuffix></mat-icon>
                    <mat-error *ngIf="form.controls.lastname.errors.required">Last Name is a required field
                    </mat-error>
                    <mat-error *ngIf="form.controls.lastname.errors.pattern">Invalid format</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="form-email">
            <mat-form-field appearance="outline" class="element">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-icon matSuffix></mat-icon>
                <mat-hint>You can use letters, numbers & periods</mat-hint>
                <mat-error *ngIf="form.controls.email.errors.required">Email is a required field
                </mat-error>
                <mat-error *ngIf="form.controls.email.errors.pattern">Choose correct email between 6 to 30
                    characters</mat-error>
            </mat-form-field>
        </div>

        <div class="form-pass">
            <div class="password">
                <mat-form-field appearance="outline" class="element">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password">
                    <mat-icon matSuffix></mat-icon>
                    <mat-error *ngIf="form.controls.password.errors.required">Password is a required field
                    </mat-error>
                    <mat-error *ngIf="form.controls.password.errors.pattern">Use 8 characters or more for your
                        password</mat-error>
                </mat-form-field>
            </div>

            <div class="password">
                <mat-form-field appearance="outline" class="element">
                    <mat-label>Confirm</mat-label>
                    <input matInput placeholder="Confirm" formControlName="confirmPassword">
                    <mat-icon matSuffix></mat-icon>
                </mat-form-field>
            </div>
        </div>

        <div class="form-lastelement">
            <div>
                <a href="" class="line">Sign in instead</a>
            </div>
            <div class="button">
                <button type="submit" mat-flat-button color="next">Next</button>
            </div>
        </div>

    </form>
    <div class="image-content">
        <img src="assets\Images\registration.svg" alt="logo" />
        <p class="image-text">One account. All of Fundoo working for you.</p>
    </div>
</div>