.form-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.1px solid #b3b2b2;
    border-radius: 10px;
    width: 36.5%;  
    height: 55%;
    padding: 2%;
    background-color: white;
}

.head{
    font-size: 2em;
    font-weight: 1;
}

.names, .pass {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4%;
}

.name, .password{
    width: 48.5%;
}

.email {
    padding-bottom: 10%;
}

.element {
    width: 100%;
}

.lastelement {
    padding-top: 15%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-right: 12%;
    height: 20%;
}

.image-content{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    padding-left: 10%;
    padding-top: 10%;
    text-align: center;
}

.image-text {
    color: #202124;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
}

button {
    width: 200%;
    height: 175%;
    background-color: rgb(12, 100, 182);
    color: white;
}

.line {
    color: rgb(37, 130, 206);
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
}