::ng-deep .mat-form-field-underline {
    display: none;
  }
  
  .input-container {
    .title {
      .mat-input-element {
        font: inherit;
        background: transparent;
        font-size: 20px;
        font-weight: 450;
        color: currentColor;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        width: 100%;
        vertical-align: bottom;
        text-align: inherit;
      }
    }
  
    .description {
      .mat-input-element {
        font: inherit;
        background: transparent;
        font-size: 18px;
        color: currentColor;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        width: 100%;
        vertical-align: bottom;
        text-align: inherit;
      }
    }
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }