.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightgrey;
}

.material-icons-outlined {
  color: black;
}

.example-toolbar {
  display: flex;
  justify-content: space-between;
  outline-style: solid;
  outline-color: darkgrey;
  border-bottom: 1px solid darkgray;
}

.profile{
  display: flex;
  color: black;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  width: 35%;
  padding-right:25%
}

@media screen and (max-width: 500px) {
  .search-bar {
    display: none;
  }
}

input[type=text] {
  width: 250%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: grey;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 15px 12px 15px;

}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
  outline-style: solid;
  outline-color: darkgray;
}

h1.example-app-name {
  margin-left: 8px;
  color: darkgray;
  font-weight: bold;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.mat-toolbar.mat-primary {
  background: #fff;
}

.logo-image {
  padding-left: 5px;
}

.sidenav-content{
  padding-top: 5%;
}

.part1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.material-icons-outlined {
  padding-right: 4%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tool-name , .tool-email {
  font-family: sans-serif;
  font-weight: 500;
  padding-bottom: 10%;
}

.tool-name{
  font-size: 25px;
  padding-left: 5%;
  font-weight: 500;
}

.tool-email{
  display: flex;
  font-size: 16px;
}

.logout{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  padding-left: 35%;
}

.menu-class{
  margin: 5%;
}

.head-icon{
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}