<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 15px" #createCard class="head">
    <mat-card class="mat-elevation-z5 outline take-note-card" *ngIf="!clicked" (click)="clicked = !clicked">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="take-note">
            <div>
                <p class="title-text">Take a note...</p>
            </div>
            <div>
                <img src="../../../assets/Images/image_black_24dp.svg" alt="logo" width="30px" height="30px"
                    style="background: #fff" />
            </div>
        </div>
    </mat-card>

    <mat-card *ngIf="clicked" class="mat-elevation-z5 outline take-note-card" fxLayout="column" >
        <div fxLayout="column" class="mat-elevation-z52">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input type="text" matInput placeholder="Title" [(ngModel)]="title" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <input type="text" matInput placeholder="Description" [(ngModel)]="description" />
            </mat-form-field>

            <div class="foot">
                <app-icons></app-icons>
                <button type="button" (click)="createNote()">Close</button>
            </div>
        </div>
    </mat-card>
</div>