.card-container {
    display: flex;
    margin-top: 25px;
    padding: 2%;
    padding-bottom: 5%;
    flex-flow: wrap;
  }
  
  .notes {
    padding: 0.5%;
    padding-bottom: 2%;
    width: 15.5%;
    justify-content: space-between;
  }
  
  .card-content {
    display: flex;
    margin: 25px 15px 10px 25px;
    flex-flow:wrap;
  }
  
  .mat-card-header-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .div-card-content {
    width: 100%;
  }
  
  .title {
    width: 100%;
    word-wrap: break-word;
  }
  
  .description {
   width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .acitvate-overflow {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .icons {
    height: 100%
  }

  .icon-int{
    width: 100%;
  }
  