.card-container {
    margin-top: 25px;
    padding-bottom: 5%;
  }
  
  .notes {
    padding: 0.5%;
    padding-bottom: 2%;
    width: 300px;
  }

  @media screen and (max-width: 500px) {
    .notes {
      width: 100%;
    }
  }
  
  .card-content {
    display: flex;
    flex-flow: wrap;
  }
  
  .div-card-content {
    width: 100%;
  }
  
  .title {
    width: 100%;
    word-wrap: break-word;
  }
  
  .description {
   width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .icon-int{
    visibility:hidden;
  }

  .card-container:hover .icon-int{
    visibility: visible;
  }
  