<div class="reset-container">
    <div class="reset-content">
        <div class="reset-logo">
            <app-fundoo-logo></app-fundoo-logo>
        </div>
        <div class="reset">
            <span>Reset Password</span>
        </div>
        <div class="use-para">
            <span>Enter Required Details</span>
        </div>
        <form class="reset-form">
            <div class="reset-password">
                <mat-form-field appearance="outline" class="element">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password">
                    <mat-icon matSuffix></mat-icon>
                </mat-form-field>
            </div>

            <div class="reset-password">
                <mat-form-field appearance="outline" class="element">
                    <mat-label>Confirm</mat-label>
                    <input matInput placeholder="Confirm">
                    <mat-icon matSuffix></mat-icon>
                </mat-form-field>
            </div>
        </form>
        <div class="reset-last-element">
            <div class="login-buttons">
                <button type="submit" class="reset-button" mat-flat-button color="reset">Reset Password</button>
            </div>
        </div>
    </div>
</div>